.App {
  text-align: center;
}

.App-title {
  padding: 48px 32px;
  margin: 0 0 0 4;
  background-color: red;
  font-size: 1.5em;
}
@media screen and (max-width: 400px) {
  .App-title{
      color: white;
  }
}

.card {
  
  box-shadow: 0 4px 14px 0px rgba(0, 0, 0,0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.0);
  margin: 12px;
  padding: 24px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
