.App {
  text-align: center;
}

.App-title {
  padding: 5px;
  margin: 0 0 0 4;
  background: linear-gradient(to bottom left, #f03137, #dd4f23);
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index:1;
}

.bottomBar {
  overflow: hidden;
  position: fixed;
  bottom: 15px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .App-title{
      color: white;
  }
}

.card {
  box-shadow: 0 4px 14px 0px rgba(0, 0, 0,0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.0);
  margin: 12px;
  padding: 24px;

}

.content {
  margin-top: 100px;
  overflow: hidden;
  z-index:2;
}

.container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 100px;
}

.xcontainer:hover img {
  width: 100%;
  max-height: 103px;
  opacity: 0.9;
}

/* Container holding the image and the text */
.container {
  position: relative;
  max-height: 100px;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  width:100%;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
 
}
.container:active {

}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    position: fixed;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
